.App {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: grid;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.main {
  background-color: lightgreen;
  margin-top: 20px;
  border-radius: 5px;
  width: 650px;
  height: 600px;
}
.header {
  margin-top: 20px;
  font-size: 35px;
}
.subheader {
  margin-top: 15px;
  font-size: 20px;
}
.upper-container {
  padding-bottom: 20px;
  border-bottom: 3px solid white;
}
button {
  width: 150px;
  height: 50px;
  border: none;
  background-color: white;
  border-radius: 5px;
  color: black;
  margin-top: 20px;
  font-size: 20px;
}
button:hover {
  cursor: pointer;
}
.bottom-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.player {
  border: 2px solid white;
  width: 100%;
  height: 100%;
}
.player-dices {
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  display: flex;
}
.dice {
  justify-content: center;
  align-items: center;
  display: grid;
  border: 1px solid black;
  width: 100%;
  height: 70px;
}
